.each-video-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.iframe-styling {
  width: 560px;
  height: 315px;
  frameborder: 0px;
}

.like-btn {
  color: #2563eb;
}

.dislike-btn {
  color: #2563eb;
}
