.top-banner {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  height: 200px;
  width: 200px;
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
}

.videos-main-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.logos {
  height: 30px;
  width: 30px;
}
